.icon {
    width: 1em;
    height: 1em;
    overflow: hidden;
    vertical-align: -.15em;
    fill: currentColor;
}

.toast-notification {
    position: fixed;
    top: 20px;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.toast-notice-wrapper.notice-enter {
    opacity: .01;
    transform: scale(0);
}

.toast-notice-wrapper.notice-enter-active {
    opacity: 1;
    transition: all 300ms ease-out;
    transform: scale(1);
}

.toast-notice-wrapper.notice-exit {
    opacity: 1;
    transform: translateY(0);
}

.toast-notice-wrapper.notice-exit-active {
    opacity: .01;
    transition: all 300ms ease-out;
    transform: translateY(-40%);
}

.toast-notice {
    display: flex;
    padding: 16px 32px;
    margin: 8px auto;
    font-size: 15px;
    color: #454545;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
    align-items: center;
}

.toast-notice > span {
    margin-left: 6px;
    line-height: 100%;
}

.toast-notice > svg {
    font-size: 18px;
}

.toast-notice.info > svg {
    color: #1890ff;
}

.toast-notice.success > svg {
    color: #52c41a;
}

.toast-notice.warning > svg {
    color: #faad14;
}

.toast-notice.error > svg {
    color: #f74a53;
}

.toast-notice.loading > svg {
    color: #1890ff;
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
