/* 关闭图标 */
.close {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    cursor: pointer;
    background-color: #a0a0a0;
    border-radius: 50%;

    &::before,
    &::after {
        position: absolute;
        top: 8px;
        left: 4px;
        width: 10px;
        height: 1px;
        content: '';
        background-color: #fff;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:active {
        background-color: #03a9f5;
    }
}
